<h1>List of all articles</h1>
<%= link_to 'New article', new_article_path %>
<ul>
  <% @articles.each do |article| %>
    <li>
      <%= article.title %>
      <%= link_to 'show', article %>
      <%= link_to 'edit', edit_article_path(article) %>
      <%= link_to 'delete', article, method: :delete, data: {confirm: 'Delete?'} %>
    </li>
  <% end %>
</ul>
