<p id="notice"><%= notice %></p>

<h1 class="user-name">
  <%= @user.name %>
</h1>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<p>
  <img src="<%= @user.avatar.url(:medium) %>">
</p>